<!doctype html>


<html lang="en" class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Raven air</title>


	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>-->
	<link href="__PUBLIC__/raven/css/css.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.carousel.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/animate.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/style.css" media="screen">

	<!--<style>-->
		<!--.contact_qq_box{position:absolute;right:0;top:200px;z-index:9999;background-color:#ED7D31;}-->
		<!--.contact_qq_box>a{display:none}-->
		<!--.contact_qq_box>a>img{margin-top:22px;height:136px}-->
		<!--.contact_qq_box>.left_box{width:34px;float: left;position: relative;z-index: 1;margin-top: 21px;height: 160px;text-align:center;}-->
	<!--</style>-->
</head>
<body style="overflow-x: hidden; overflow-y: auto; font-family: 微软雅黑;">

<!-- Container -->
<div id="container" class="vertical-header">
	<!-- Header
        =======================================dropdown==drop========= -->
	<header class="clearfix" style="padding:0;">

		<p style="padding-left:20px;padding-top: 10px;">
		</p>


		<div class="logo" style="margin-top:20px;">
			<a href="{:U ( 'index')}"><img src="__PUBLIC__/raven/images/logo1.png"></a>
		</div>

		<a class="elemadded responsive-link" href="javascrip          ">Menu</a>

		<nav class="menu" style="">
			<ul class="navigate-section">
				<li><a href="{:U ( '/home/index1/index' )}">Welcome</a></li>
				<li class="on"><a class="active" href="{:U ( '/home/index1/appointment')}">Online appointment</a>

				</li>
				<li style="position:relative;"><a href="{:U ('home/index1/route/url/membership')}">Membership</a><span class="li_line_t"></span><span class="li_line_b"></span></li>
				<li class="sever"><a href="javascript:;">Service<span></span></a>
					<!--<ul class="sever_bar">
                        <li><a href="/index.php?s=/home/index/tools.html">全球打印</a></li>
                        <li><a href="/index.php?s=/home/index/produce.html">打样试生产</a></li>
                        <li><a href="/index.php?s=/home/index/consult.html">技术咨询</a></li>
                    </ul>-->
				</li>
				<li class="project"><a href="javascript:;">Projects<span></span></a>
					<ul class="project_bar" style="display: none;">
						<li><a href="{:U ( '/home/index1/route/url/hasinvest' )}">GHP-417</a></li>
					</ul>
				</li>
				<li><a href="{:U ( '/home/index1/route/url/contact' )}">Contact</a></li>
				<li><a href="{:U ( '/home/index1/route/url/joinus' )}">Join us</a></li>
			</ul>
		</nav>
		<!-- footer
            ================================================== -->
		<footer>
			<div class="f-container">

				<img src="__PUBLIC__/raven/images/qrcode.jpg" style="display:inline-block;width:100px;height:100px;">
				<p class="copyright">
					Raven air&copy; <br/>Copyright 2015
					<!--<br><a href="http://www.miit.gov.cn/">粤ICP备15102317号</a>-->
				</p>
			</div>
		</footer>
		<!-- End footer -->
	</header>
	<!-- End Header -->

	<div id="content" style="width:85%;height:auto;position:relative;background-color: #F8F8F8;">
		<p style="position:fixed;right:10px;bottom:10px;color:#ED7D31;z-index:999;"><span style="display:block;float:right;">Raven air©</span><span style="display:block;clear:both;">Inspired by Raven Industries</span></p>
		<img style="display:inline-block;width:100%;height:100%;" src="__PUBLIC__/raven/images/appointment.jpg">
		<section id="contact-section" style="position:absolute;left:50%;margin-left:-450px;top:50px;">


			<div class="contact-info-2" style="">
				<div class="container" style="background:rgba(255,255,255,0.6);border-radius:5px;color:#FFF;">
					<div class="contentBar">
						<!--<p style="color:#000;">如您希望与我们洽谈合作，或来访参观，请提前在线预约。</p>-->
						<p style="color:#000;">Please indicate your preferred time that you would like to tour.（* Indicates a mandatory field）</p>
						<p style="color:#000;">If you need to make an appointment time that day, please inform us at least 2 hours in advance.</p>

					</div>


					<form method="post" action="http://www.raven-air.cn/index.php?s=/home/index/vistBookingInsert" style="width:900px;height:335px;margin:0px auto;">

						<div class="col-md-12 form_content" style="padding-top:0;">


							<div class="col-md-12">
								<div class="col-md-4 text-right">Salutation<span class="need">*</span>:</div>
								<div class="col-md-5">
									<div class="dropdown">
										<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											<span class="text">Mr</span>
											<span class="caret"></span>
										</button>
										<input type="hidden" id="sex" name="sex" value="Mr">
										<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
											<li><a href="javascript:;">Mrs</a></li>
											<li><a href="javascript:;">Ms</a></li>
											<li><a href="javascript:;">Miss</a></li>
											<li><a href="javascript:;">Dr</a></li>
										</ul>
									</div>
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">Last Name<span class="need">*</span>:</div>
								<div class="col-md-5">
									<input id="user_name" class="form-control" name="user_name" value="" placeholder="" type="text">
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">Email<span class="need">*</span>:</div>
								<div class="col-md-5">
									<input id="email" class="form-control" name="email" value="" placeholder="" type="text">
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">Phone<span class="need">*</span>:</div>
								<div class="col-md-5">
									<input id="telephone" class="form-control" name="telephone" value="" placeholder="" type="text">
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">Preferred time<span class="need">*</span>:</div>
								<div class="col-md-5">
									<input id="time" class="form-control" name="time" value="" placeholder="" type="text">
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">reason to visit:</div>
								<div class="col-md-5">
									<textarea id="messages" class="form-control" name="messages" placeholder="" value=""></textarea>
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
							<div class="col-md-12">
								<div class="col-md-4 text-right">Verification Code<span class="need">*</span>:</div>
								<div class="col-md-2">
									<input id="verifyCode" class="form-control" name="verifyCode" value="" placeholder="" type="text">
								</div>
								<div class="col-md-3"><img class="left15" height="36px" alt="verifyCode" src="index.php" title="点击刷新">
									<i id="status"><img src="__PUBLIC__/images/ok.png"></i></div>
								<div class="col-md-3 text-left-t"><div id="status_text"></div></div>
							</div>

							<div class="col-md-12">
								<div class="col-md-4 text-right"></div>
								<div class="col-md-5">
									<input type="submit" id="submit_btn" style="background-color:#CCC;font-weight:bold;font-size:18px;" disabled="disabled" value="Submit">
								</div>
								<div class="col-md-3 text-left-t"></div>
							</div>
						</div>

					</form>
					<div style="clear:both;"></div>
					<div class="contentBar" style="margin:0 auto;">
						<p style="color:#000;">If you have any questions, please feel free to contact online service or send a mail to <span style="color:#ED7D31;">info@raven-air.cn</span>.</p>
						<p style="color:#000;">We will reply within two hours on business days.</p>
					</div>
				</div>



			</div></section>
		<!--<div class="contact_qq_box">-->
			<!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=66848556&amp;site=qq&amp;menu=yes"><img border="0" src="__PUBLIC__/images/pa" alt="联系我们" title="联系我们"></a>-->
			<!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=464435432&amp;site=qq&amp;menu=yes"><img border="0" src="__PUBLIC__/images/pa" alt="联系我们" title="联系我们"></a>-->
			<!--<div class="left_box" data-type="0">-->
				<!--<a title="查看在线客服" href="javascript:void(0);"><img src="__PUBLIC__/images/open_qq.png"></a>-->
			<!--</div>-->

		<!--</div>-->

	</div>

</div>
<!-- End Content -->

</div>
<!-- End Container -->

<script type="text/javascript" src="__PUBLIC__/raven/js/jquery2.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.migrate.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/countdown.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.imagesloaded.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/waypoint.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/raven/js/script.js"></script>
<script>
	$(".project_bar,.sever_bar").hide();
	$(".on").find("a").css("color","#EE7D31");
	$(document).ready(function(){
		$(".sever_bar,.project_bar").hide();
		$(".on").find("a").css("color","#EE7D31");
		//验证表单
		$('#user_name').blur(function(){
			if($(this).val()==""){
				$(this).parent().next().text('姓名不能为空').css('color','red');
			}else{
				$(this).parent().next().text('');
			}
		});
		$('#email').blur(function(){
			var reg = /^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/;
			if($(this).val()==""){
				$(this).parent().next().text('邮箱不能为空').css('color','red');
			}else if(!reg.test(this.value)){
				$(this).parent().next().text('请输入正确格式邮箱').css('color','red');
			}else{
				$(this).parent().next().text('');
			}
		});
		$('#time').blur(function(){
			if($(this).val()==""){
				$(this).parent().next().text('请输入预约时间').css('color','red');
			}else{
				$(this).parent().next().text('');
			}
		});
		$('#telephone').blur(function(){
			var reg = /^1[3|4|5|8][0-9]\d{8}$/;
			if($(this).val()==""){
				$(this).parent().next().text('电话不能为空').css('color','red');
			}else if(!reg.test(this.value)){
				$(this).parent().next().text('请输入合法手机号').css('color','red');
				$(this).val("");
			}else{
				$(this).parent().next().text('');
			}
		});
		/*$('#contact_way').blur(function(){
		 if($(this).val()==""){
		 $(this).parent().next().text('请输入联系方式').css('color','red');
		 }else{
		 $(this).parent().next().text('');
		 }
		 });
		 $('#messages').blur(function(){
		 if($(this).val()==""){
		 $(this).parent().next().text('请输入留言内容').css('color','red');
		 }else{
		 $(this).parent().next().text('');
		 }
		 });*/


		//点击更换验证码
		$('.left15').click(function(){
			$(this).attr('src','/index.php?s=/home/index/verify_c.html');
		});

		//前台验证验证码
		$('#verifyCode').keyup(function(){
			var code = $('#verifyCode').val();
			var data={code:code};
			if($(this).val().length==4){
				$.post('/index.php?s=/home/index/jcheck_verify',data,function(ret){
					//console.log(ret);
					if(ret==1){
						$('#status').show();
						$('#status_text').hide();
						$('#submit_btn').css('background-color','#EA8825');
						$('#submit_btn').attr("disabled",false);
					}else{
						$('#status').hide();
						$('#status_text').show().text('验证码错误').css('color','red');
						$('#verifyCode').val('');
						$('#submit_btn').css('background-color','#CCC');
						$('#submit_btn').attr("disabled",true);
					}
				});
			}
		});

		//提交
		$('#submit_btn').click(function(){
			if($('#username').val()==""||$('#telephone').val()==""||$('#verifyCode').val()==""){
				alert('请填写完整内容');
				return false;
			}

		});

		$('.dropdown-menu').children('li').click(function(){
			var text = $(this).children('a').text();
			$('.dropdown-toggle .text').text(text);
			$('#sex').val(text);
		});

//		$('.contact_qq_box>.left_box').click(function(){
//			if($(this).attr('data-type')!='')
//			{
//				$(this).attr('data-type','');
//				$(this).children('a').attr('title','关闭在线客服');
//				$(this).children('a').children('img').attr('src','__PUBLIC__/images/close_qq.png');
//			}
//			else{
//				$(this).attr('data-type','0');
//				$(this).children('a').attr('title','查看在线客服');
//				$(this).children('a').children('img').attr('src','__PUBLIC__/images/open_qq.png');
//			}
//			$('.contact_qq_box>a').toggle();
//		});

	});

</script>

</body>
</html>