<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>BFolio | Creative Portfolio & Agency Template</title>

	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/animate.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/style.css" media="screen">

</head>
<body>

	<!-- Container -->
	<div id="container" class="vertical-header">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<div class="logo">
				<a href="{:U ( 'index')}"><img src="__PUBLIC__/raven/images/logo.png"></a>
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

            <nav class="menu">
                <ul class="navigate-section">
                    <li class=""><a href="{:U ( 'index')}">Welcome</a></li>
                    <li class="active online_appoint"><a href="javascript:;">Online appointment<span></span></a>
                        <ul class="appoint_bar">
                            <li><a class="active" href="{:U ( 'appointment')}">Book a visit</a></li>
                            <li><a href="{:U ( 'tools')}">Book equipment</a></li>
                            <li><a href="{:U ( 'office')}">Book workspace</a></li>
                            <li><a href="{:U ( 'investor')}">Contact investors</a></li>
                        </ul>
                    </li>
                    <li><a href="{:U ( '/ucenter/member/login')}">Membership</a></li>
                    <li><a href="{:U ( '/issue/index/index')}">Classes & Events</a></li>
                    <li class="sever"><a href="javascript:;">Service<span></span></a>
                        <ul class="sever_bar">
                            <li><a href="print.html">Globalprinting</a></li>
                            <li><a href="{:U ( 'produce')}">Prototyping</a></li>
                            <li><a href="{:U ( 'consult')}">TechConsulting</a></li>
                        </ul>
                    </li>
                    <li class="project"><a href="javascript:;">Projects<span></span></a>
                        <ul class="project_bar">
                            <li><a href="{:U ( 'hasinvest')}">Multirotor</a></li>
                        </ul>
                    </li>
                    <li><a href="{:U ( 'joinus')}">Join us</a></li>
                </ul>
            </nav>
			<!-- footer 
				================================================== -->
            <footer>
                <div class="f-container">
                    <h2></h2>
                    <div class="bdsharebuttonbox" data-tag="share_1">
                        <a class="bds_qzone" data-cmd="qzone"></a>
                        <a class="bds_tsina" data-cmd="tsina"></a>
                        <a class="bds_renren" data-cmd="renren"></a>
                        <a class="bds_tqq" data-cmd="tqq"></a>
                        <a class="bds_baidu" data-cmd="baidu"></a>
                        <a class="bds_more" data-cmd="more"></a>
                    </div>
                    <p class="copyright">
                        &copy; Copyright 2015. <br/><small>All rights reserved.</small>
                    </p>
                </div>
            </footer>
			<!-- End footer -->
		</header>
		<!-- End Header -->

		<!-- content
			================================================== -->
		<div id="content" style="height:800px;background-color: #f8f8f8;padding-left: 100px;padding-top: 40px;">

            <!--<img src="images/4.jpg" width="100%" height="100%">-->

            <table style="width: 500px; font-family: arial; font-size: 14px;">
                <tr style="height: 36px;">
                    <th align="right" style="width:100px; padding-right:5px;text-align: right;">姓名:</th>
                    <td align="left" style="padding-left:5px; line-height: 20px;"><input id="username" value="" type="text"></td>
                </tr>
                <tr style="height: 36px;">
                    <th align="right" style="width:100px; padding-right:5px;text-align: right;">电话:</th>
                    <td align="left" style="padding-left:5px; line-height: 20px;"><input id="telephone" value="" type="text"></td>
                </tr>
                <tr style="height: 36px;">
                    <th align="right" style="width:100px; padding-right:5px;text-align: right;">联系方式:</th>
                    <td align="left" style="padding-left:5px; line-height: 20px;"><input id="contact_way" value="" type="text"></td>
                </tr>
                <tr style="height: 36px;">
                    <th align="right" style="width:100px; padding-right:5px;text-align: right;padding-bottom: 81px;">留言:</th>
                    <td align="left" style="padding-left:5px; line-height: 20px;"><textarea id="messages" value=""></textarea></td>
                </tr>
                <tr style="height: 36px;">
                    <th align="right" style="width:100px; padding-right:5px;"></th>
                    <td align="left" style="padding-left:5px; line-height: 20px;"><button id="submit_btn">提交</button></td>
                </tr>
            </table>
            <!--<p style="padding-left: 50px;"><button id="submit_btn">提交</button></p>-->

		</div>
		<!-- End Content -->

	</div>
	<!-- End Container -->
	
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/countdown.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/waypoint.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/script.js"></script>
    <script>
        $(".sever_bar,.project_bar").hide();
    </script>

</body>
</html>