<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>RAVEN | Creative Portfolio & Agency</title>

	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/animate.css" media="screen">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/settings.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/style.css" media="screen">

	
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.appear.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/waypoint.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/raphael-min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/DevSolutionSkill.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="__PUBLIC__/raven/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/raven/js/jquery.themepunch.revolution.min.js"></script>
  	<script type="text/javascript" src="__PUBLIC__/raven/js/script.js"></script>

</head>
<body>

	<!-- Container -->
	<div id="container" class="vertical-header">
		<!-- Header
		    =======================================dropdown==drop========= -->
		<header class="clearfix" style="padding:0;">
			
			<ul class="nav navbar-nav navbar-right" style="padding:0;width:100%;">
                <!--登陆面板-->
                <!--<li class="dropdown  hidden-xs hidden-sm">-->
                        <!--<div></div>-->
                        <!--<a id="nav_info" class="dropdown-toggle text-left" data-toggle="dropdown">-->
                            <!--<span class="icon-bell-alt"></span> 消息-->
                            <!--<span id="nav_bandage_count" class="label label-badge label-success">1</span>-->
                            <!--&nbsp;-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu extended notification" style="right:-98px;">-->
                            <!--<li>-->
                                <!--<div class="clearfix header">-->
                                    <!--<div class="col-xs-6 nav_align_left"><span id="nav_hint_count">1</span> 条未读-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="info-list">-->
                                <!--<div class="list-wrap">-->
                                    <!--<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul id="nav_message" class="dropdown-menu-list scroller  list-data" style="width: auto; overflow: hidden; height: 200px;">-->
                                                                                    <!--<li>-->
                                                    <!--<a data-url="/index.php?s=/event/index/detail/id/114.html" onclick="Notify.readMessage(this,26)">-->
                                                        <!--<i class="icon-bell"></i>-->
                                                        <!--取消报名通知                                            <span class="time">-->
                                            <!--51分钟前                                            </span>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                    <!--</ul><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="footer text-right">-->
                                <!--<div class="btn-group">-->
                                    <!--<button onclick="Notify.setAllReaded()" class="btn btn-sm  "><i class="icon-check"></i> 全部已读-->
                                    <!--</button>-->
                                    <!--<a class="btn  btn-sm  " href="/index.php?s=/ucenter/message/message.html">-->
                                        <!--查看消息-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li>
                        <a title="修改资料" href="/index.php?s=/ucenter/config/index.html"><i class="icon-cog"></i>设置</a>
                    </li>
                    <li class="top_spliter hidden-xs"></li>
                    <li class="dropdown">
                                                <a role="button" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">
                            admin&nbsp;<i style="font-size: 12px" class="icon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu text-left" role="menu">
                            <li><a href="/index.php?s=/ucenter/index/index.html"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;个人主页</a>
                            </li>
                            <li><a href="/index.php?s=/ucenter/message/message.html"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;消息中心</a>
                            </li>
                            <li><a href="/index.php?s=/ucenter/collection/index.html"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;我的收藏</a>
                            </li>

                            <li><a href="/index.php?s=/ucenter/index/rank.html"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;我的头衔</a>
                            </li>
                            <li><a href="/index.php?s=/admin/index/index.html" target="_blank"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;管理后台</a></li>                            
							<li><a event-node="logout"><span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;注销</a>
                            </li>
                        </ul>
                    </li>
                    <li class="top_spliter hidden-xs"></li>
            </ul>
			
			<div class="logo">
				<a href="{:U ( 'index')}"><img src="__PUBLIC__/raven/images/logo.png"></a>
			</div>

			<a class="elemadded responsive-link" href="javascript:;">Menu</a>
			
			<nav class="menu">
				<ul class="navigate-section">
					<li class="on"><a href="{:U ( '/home/index/index' )}">Welcome</a></li>
					<li class="online_appoint"><a href="javascript:;">Online appointment<span></span></a>
						<ul class="appoint_bar">
							<li><a href="{:U ( '/home/index/appointment')}">Book a visit</a></li>
							<li><a href="{:U ( '/home/index/tools')}">Book equipment</a></li>
							<li><a href="{:U ( 'office')}">Book workspace</a></li>
							<li><a href="{:U ( 'investor')}">Contact investors</a></li>
						</ul>
					</li>
                    <li><a href="{:U ( '/ucenter/member/login')}">Membership</a></li>
                    <li><a href="{:U ( '/issue/index/index')}">Classes & Events</a></li>
                    <li class="sever"><a href="javascript:;">Service<span></span></a>
                        <ul class="sever_bar">
                            <li><a href="print.html">Globalprinting</a></li>
                            <li><a href="{:U ( 'produce')}">Prototyping</a></li>
                            <li><a href="{:U ( 'consult')}">TechConsulting</a></li>
                        </ul>
                    </li>
					<li class="project"><a href="javascript:;">Projects<span></span></a>
                        <ul class="project_bar">
                            <li><a href="{:U ( 'hasinvest')}">Multirotor</a></li>
                        </ul>
                    </li>
                    <li><a href="{:U ( 'joinus')}">Join us</a></li>
				</ul>
			</nav>
			<!-- footer
				================================================== -->
			<footer>
				<div class="f-container">
					<h2></h2>
                    <div class="bdsharebuttonbox" data-tag="share_1">
                        <a class="bds_qzone" data-cmd="qzone"></a>
                        <a class="bds_tsina" data-cmd="tsina"></a>
                        <a class="bds_renren" data-cmd="renren"></a>
                        <a class="bds_tqq" data-cmd="tqq"></a>
                        <a class="bds_baidu" data-cmd="baidu"></a>
                        <a class="bds_more" data-cmd="more"></a>
                    </div>
					<p class="copyright">
						&copy; Copyright 2015. <br/><small>All rights reserved.</small>
					</p>
				</div>
			</footer>
			<!-- End footer -->
		</header>
		<!-- End Header -->

		<!-- content
			================================================== -->
		<div id="content">

			<!-- home-section 
				================================================== -->
			<section id="home-section" class="slider1">
				
				<!--
				#################################
					- THEMEPUNCH BANNER -
				#################################
				-->
				<div class="tp-banner-container">
					<div class="tp-banner" >
						<ul>	<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Intro Slide">
								<!-- MAIN IMAGE -->
								<img src="__PUBLIC__/raven/images/background/1.jpg"  alt="slidebg1" data-lazyload="__PUBLIC__/raven/images/background/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<!--<div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0"-->
									<!--data-x="350"-->
									<!--data-y="270"-->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1200"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.05"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">WE CREATE DIGITAL EXPERIENCES-->
								<!--</div>-->

								<!-- LAYER NR. 2 -->
								<!--<div class="tp-caption finewide_medium_white customin tp-resizeme rs-parallaxlevel-0"-->
									<!--data-x="40"-->
									<!--data-y="318"-->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1800"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.1"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">The best creative portfolio-->
								<!--</div>-->

								<!-- LAYER NR. 1 -->
								<!--<div class="tp-caption small_text lfb tp-resizeme rs-parallaxlevel-0"-->
									<!--data-x="330"-->
									<!--data-y="460" -->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="2200"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.05"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">THE BEST SOLUTION FOR YOUR BUSINESS-->
								<!--</div>-->

							</li>

							<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
								<!-- MAIN IMAGE -->
								<img src="__PUBLIC__/raven/images/background/2.jpg"  alt="2" data-lazyload="__PUBLIC__/raven/images/background/2.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<!--<div class="tp-caption finewide_medium_white customin tp-resizeme rs-parallaxlevel-0 white-style"-->
									<!--data-x="80"-->
									<!--data-y="300"-->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1300"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.1"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">BETTER WEBSITE FOR ALL-->
								<!--</div>-->

								<!-- LAYER NR. 2 -->
								<!--<div class="tp-caption small_text lfb tp-resizeme rs-parallaxlevel-0"-->
									<!--data-x="110"-->
									<!--data-y="442" -->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1800"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.05"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">So perfect to take your business to the next level, brimg your business ahead.-->
								<!--</div>-->
							</li>
							<!-- SLIDE  -->
							<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
								<!-- MAIN IMAGE -->
								<img src="__PUBLIC__/raven/images/background/3.jpg"  alt="3dbg" data-lazyload="__PUBLIC__/raven/images/background/3.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
								<!-- LAYERS -->

								<!-- LAYER NR. 1 -->
								<!--<div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0"-->
									<!--data-x="120"-->
									<!--data-y="270"-->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1200"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.05"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">So perfect to take your business to the next level, brimg your business ahead.-->
								<!--</div>-->

								<!-- LAYER NR. 2 -->
								<!--<div class="tp-caption finewide_medium_white customin tp-resizeme rs-parallaxlevel-0 black-style"-->
									<!--data-x="70"-->
									<!--data-y="318"-->
									<!--data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"-->
									<!--data-speed="500"-->
									<!--data-start="1800"-->
									<!--data-easing="Power3.easeInOut"-->
									<!--data-splitin="none"-->
									<!--data-splitout="none"-->
									<!--data-elementdelay="0.1"-->
									<!--data-endelementdelay="0.1"-->
									<!--style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">YOUR WEBSITE IS THE FACE<br> OF YOUR BUSINESS-->
								<!--</div>-->

							</li>
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on"  data-title="Parallax 3D">
                                <!-- MAIN IMAGE -->
                                <img src="__PUBLIC__/raven/images/background/4.jpg"  alt="3dbg" data-lazyload="__PUBLIC__/raven/images/background/4.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            </li>
						</ul>
						<div class="tp-bannertimer"></div>
					</div>
				</div>
			</section>
			<!-- End home section -->

		</div>
		<!-- End Content -->

	</div>
	<!-- End Container -->
	
	<!-- Switch Theme  -->
	<div id="theme-switcher">
		<div id="toggle-wrap">
			<a id="skin-1" href="../default/"></a>
			<a id="skin-2" href="../green/"></a>
			<a id="skin-3" href="../orange/"></a>
			<a id="skin-4" href="../red/"></a>
			<a id="skin-5" href="../yellow/"></a>
		</div>
	</div>

	<!-- Revolution slider -->
	<script type="text/javascript">

		jQuery(document).ready(function() {
						
			jQuery('.tp-banner').show().revolution(
			{
				dottedOverlay:"none",
				delay:3000,
				startwidth:960,
				startheight:700,
				hideThumbs:200,
				
				thumbWidth:100,
				thumbHeight:50,
				thumbAmount:5,
				
				navigationType:"bullet",
				navigationArrows:"none",
				
				touchenabled:"on",
				onHoverStop:"off",
				
				swipe_velocity: 0.7,
				swipe_min_touches: 1,
				swipe_max_touches: 1,
				drag_block_vertical: false,
										
										parallax:"mouse",
				parallaxBgFreeze:"on",
				parallaxLevels:[7,4,3,2,5,4,3,2,1,0],
										
				keyboardNavigation:"off",
				
				navigationHAlign:"center",
				navigationVAlign:"bottom",
				navigationHOffset:0,
				navigationVOffset:260,
						
				shadow:0,
				fullWidth:"off",
				fullScreen:"on",

				spinner:"spinner4",
				
				stopLoop:"off",
				stopAfterLoops:-1,
				stopAtSlide:-1,

				shuffle:"off",
				
				autoHeight:"off",						
				forceFullWidth:"off",						
										
										
										
				hideThumbsOnMobile:"off",
				hideNavDelayOnMobile:1500,						
				hideBulletsOnMobile:"off",
				hideArrowsOnMobile:"off",
				hideThumbsUnderResolution:0,
				
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				startWithSlide:0,
				fullScreenOffsetContainer: ".header"	
			});
							
		});	//ready

        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

        $(".appoint_bar,.sever_bar,.project_bar").hide();
        $(".on").find("a").css("color","#EA8825");

	</script>
	
	<!-- DEMO JS THEME SWITCHER-->
	<script src="__PUBLIC__/raven/js/demo.js"></script>
    <script src="__PUBLIC__/js/core.js"></script>
</body>
</html>