<!DOCTYPE HTML>
<html>
<head>
    <include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<!-- /头部 -->

<!-- 主体 -->
<div id="main-container" class="container">
    <div class="row">
		<div class="login_content">
			<p style="padding-left:20px;font-size:18px;text-align:center;">预付3个月+即可成为4.0 Fermi Club会员</p>
			
			<div class="col-md-12">
				<div class="col-md-6" style="padding-left:135px;">
					<p class="pay_tit">会员待遇：</p>
					<p>外墙加挂创业团队铭牌；</p>
					<p>前台收发信件及基础秘书服务；</p>
					<p>免费参加活动、课程及飞行赛事；</p>
					<p>可通过自己开办课程赚取会员积分用于免费使用工作空间和设备；</p>
					<p>会员的子女可免费参加月度举办的小小工程师创意激发课程；</p>
				</div>
				<div class="col-md-6">
					<p class="pay_tit">收费制度：</p>
					<p>仅办公 2500元/月/人 （含齐全办公设备，通勤班车、特殊储物空间另计）</p>
					<p>仅使用工具 1800元/月/人 （特殊工具需上满安全操作课时才可自行操作）</p>
					<p>团队如有多样需求请单独咨询我们的同事。</p>
				</div>
				
			</div>
			
			
			
			
		</div>
        <section>
            <div class="col-xs-9 login" style="background: #ffffff">
                {:W('Login/login',array('type'=>"login"))}
            </div>


        </section>
    </div>
</div>
<include file="Public/js"/>
<!-- /主体 -->

<!-- 底部 -->
<!-- /底部 -->
</body>
</html>







