<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>深圳市瑞文航空科技有限公司</title>



  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="__PUBLIC__/raven/css/css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.carousel.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.theme.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/jquery.bxslider.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/magnific-popup.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/font-awesome.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/animate.css" media="screen">
  <!-- REVOLUTION BANNER CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/settings.css" media="screen">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/style.css" media="screen">
  <style type="text/css">
    body, html,#l-map {width: 100%;height: 100%;font-family:"微软雅黑";}
    #r-result{margin-top:5px;}
  </style>
  <script type="text/javascript" src="__PUBLIC__/raven/js/api"></script><script type="text/javascript" src="__PUBLIC__/raven/js/getscript"></script>



  <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bmap_autocomplete.css">

</head>
<body style="overflow-x: hidden; overflow-y: auto;">

<!-- Container -->
<div id="container" class="vertical-header">
  <!-- Header
        =======================================dropdown==drop========= -->
  <header class="clearfix" style="padding:0;">

    <p style="padding-left:20px;padding-top: 10px;">
    </p>


    <div class="logo" style="margin-top:20px;">
      <a href="{:U ( 'index')}"><img src="__PUBLIC__/raven/images/logo1.png"></a>
    </div>

    <a class="elemadded responsive-link" href="javascrip          ">Menu</a>

    <nav class="menu" style="">
      <ul class="navigate-section">
        <li><a href="{:U ( '/home/index/index' )}">首页</a></li>
        <li><a href="{:U ( '/home/index/appointment')}">在线预约</a>

        </li>
        <li style="position:relative;"><a href="{:U ('home/index/route/url/membership')}">成为会员</a><span class="li_line_t"></span><span class="li_line_b"></span></li>
        <li class="sever"><a href="javascript:;">服务<span></span></a>
          <!--<ul class="sever_bar">
              <li><a href="/index.php?s=/home/index/tools.html">全球打印</a></li>
              <li><a href="/index.php?s=/home/index/produce.html">打样试生产</a></li>
              <li><a href="/index.php?s=/home/index/consult.html">技术咨询</a></li>
          </ul>-->
        </li>
        <li class="project"><a href="javascript:;">项目<span></span></a>
          <ul class="project_bar" style="display: none;">
            <li><a href="{:U ( '/home/index/route/url/hasinvest' )}">通用无人直升机平台</a></li>
          </ul>
        </li>
        <li class="on"><a class="active" href="{:U ( '/home/index/route/url/contact' )}">联系我们</a></li>
        <li><a href="{:U ( '/home/index/route/url/joinus' )}">加入我们</a></li>
      </ul>
    </nav>
    <!-- footer
        ================================================== -->
    <footer>
      <div class="f-container">

        <img src="__PUBLIC__/raven/images/qrcode.jpg" style="display:inline-block;width:100px;height:100px;">
        <p class="copyright">
          瑞文航空© 版权所有 2015 <br><small>All rights reserved</small>
          <br><a href="http://www.miit.gov.cn/">粤ICP备15102317号</a>
        </p>
      </div>
    </footer>
    <!-- End footer -->
  </header>
  <!-- End Header -->

  <!-- content
      ================================================== -->
  <div id="content" style="height:auto;margin-bottom:30px;">

    <!-- contact-section
        ================================================== -->
    <section id="contact-section">

      <!--<div class="map"></div>-->

      <div class="contact-info">
        <div class="container">
          <div class="title-section white">
            <h1>联系我们</h1>
            <span></span>
          </div>
          <div class="contact-info-box">
            <div class="row">
              <div class="col-md-4">
                <span><i class="fa fa-map-marker"></i></span>
                <h2>公司地址</h2>
                <p style="color:#FFF;font-size:14px;">深圳市福田保税区市花路21号富林物流大厦B座417-418</p>
              </div>
              <div class="col-md-4">
                <span><i class="fa fa-phone"></i></span>
                <h2>公司座机</h2>
                <p style="color:#FFF;"> 0755-82545725 <br> 0755-82546248</p>
              </div>
              <div class="col-md-4">
                <span><i class="fa fa-envelope"></i></span>
                <h2>邮箱</h2>
                <p style="color:#FFF;"> info@raven-air.cn</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width:100%;height:320px;"><div id="l-map" style="overflow: hidden; position: relative; z-index: 0; color: rgb(0, 0, 0); text-align: left; background-color: rgb(243, 241, 236);"></div></div>
      <div id="r-result">请输入:<input type="text" id="suggestId" size="20" value="深圳市创新谷" style="width:240px;" autocomplete="off"></div>
      <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
      <div class="contact-form">
        <!--<div class=""><img style="display:inline-block;width:100%;" src="/Public/raven/images/company-address.png"></div>-->
        <div class="col-md-12">
          <h4>交通指导</h4>
          <p>地铁：<span style="font-weight:bold;">益田站（龙岗线）</span></p>
          <p>公交：<span style="font-weight:bold;">福田保税区（三号门口），可乘坐375/385/60/62/26/52/M453/B618路公交路线</span></p>
          <p style="color:red;">首次来访可提前预定在地铁站接（提前一天）</p>
        </div>
      </div>


    </section>

    <!-- End contact section -->

  </div>
  <!-- End Content -->


</div>
<!-- End Container -->


<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.min.js"></script>
<script>

  $(document).ready(function(){
    $(".appoint_bar,.sever_bar,.project_bar").hide();
    $(".online_appoint").click(function(){
      if($(".appoint_bar").is(":hidden")){
        $(".appoint_bar").slideDown();
      }else{
        $(".appoint_bar").slideUp();
      }
    });

    $(".sever").click(function(){
      if($(".sever_bar").is(":hidden")){
        $(".sever_bar").slideDown();
      }else{
        $(".sever_bar").slideUp();
      }
    });

    $(".project").click(function(){
      if($(".project_bar").is(":hidden")){
        $(".project_bar").slideDown();
      }else{
        $(".project_bar").slideUp();
      }
    });


    $(".on").find("a").css("color","#EE7D31");

  });

  // 百度地图API功能
  function G(id) {
    return document.getElementById(id);
  }

  var map = new BMap.Map("l-map");
  map.centerAndZoom("深圳",12);                   // 初始化地图,设置城市和地图级别。

  var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
    {"input" : "suggestId"
      ,"location" : map
    });

  ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
    var str = "";
    var _value = e.fromitem.value;
    var value = "";
    if (e.fromitem.index > -1) {
      value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }
    str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

    value = "";
    if (e.toitem.index > -1) {
      _value = e.toitem.value;
      value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    }
    str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
    G("searchResultPanel").innerHTML = str;
  });

  var myValue;
  ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
    var _value = e.item.value;
    myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
    G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

    setPlace();
  });

  function setPlace(){
    map.clearOverlays();    //清除地图上所有覆盖物
    function myFun(){
      var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
      map.centerAndZoom(pp, 18);
      map.addOverlay(new BMap.Marker(pp));    //添加标注
    }
    var local = new BMap.LocalSearch(map, { //智能搜索
      onSearchComplete: myFun
    });
    local.search(myValue);
  }

</script>

<div class="tangram-suggestion-main" id="tangram-suggestion--TANGRAM__1c-main" data-guid="TANGRAM__1c" style="position: absolute; display: none; left: 247px; top: 707px; width: 240px;"><div id="tangram-suggestion--TANGRAM__1c" class="tangram-suggestion" style="position:relative; top:0px; left:0px"></div></div></body></html>