<!doctype html>


<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>深圳市瑞文航空科技有限公司</title>

	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.carousel.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/owl.theme.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/jquery.bxslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/animate.css" media="screen">
    <!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/settings.css" media="screen"/>
	<link href="__PUBLIC__/raven/css/owl.carousel.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/raven/css/style.css" media="screen">


	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.appear.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.countTo.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="__PUBLIC__/raven/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/waypoint.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/raphael-min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/DevSolutionSkill.min.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="__PUBLIC__/raven/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/raven/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/nivo-lightbox.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="__PUBLIC__/raven/js/script.js"></script>
    <style>
      .btn-warning{background: #ffcc00}
    </style>
</head>
<body style="overflow: hidden; font-family: 微软雅黑;">

    <p style="position:absolute;top:20px;right:40px;z-index:999;">
      <a title="切换语言" style="color:#ED7D31;margin-right:10px;font-size:24px;" href="{:U ( '/home/index1/index')}">EN</a>
      <a title="切换语言" style="color:#ED7D31;font-size:24px;" href="{:U ( '/home/index/index')}">中文</a>
    </p>

    <div id="loading" style="display: none;"></div>

    <!-- Container -->
	<div id="container" class="vertical-header">
		<!-- Header
		    =======================================dropdown==drop========= -->
		<header class="clearfix" style="padding:0;">

            <p style="padding-left:20px;padding-top: 10px;">
              <a href="{:U('Ucenter/Config/index')}">{$userinfo}</a>
              <notempty name="userinfo">
                <a href="{:U('Admin/Public/login')}">管理后台</a>
                <a href="{:U('Ucenter/member/logout')}">退出</a>
              </notempty>
            </p>


			<div class="logo" style="margin-top:20px;">
				<a href="{:U ( 'index')}"><img src="__PUBLIC__/raven/images/logo1.png"></a>
			</div>

			<a class="elemadded responsive-link" href="javascrip          ">Menu</a>

          <nav class="menu" style="">
            <ul class="navigate-section">
              <li class="on"><a href="{:U ( '/home/index/index' )}">首页</a></li>
              <li><a href="{:U ( '/home/index/appointment')}">在线预约</a>

              </li>
              <li style="position:relative;"><a href="{:U ('home/index/route/url/membership')}">成为会员</a><span class="li_line_t"></span><span class="li_line_b"></span></li>
              <li class="sever"><a href="javascript:;">服务<span></span></a>
                <!--<ul class="sever_bar">
                    <li><a href="/index.php?s=/home/index/tools.html">全球打印</a></li>
                    <li><a href="/index.php?s=/home/index/produce.html">打样试生产</a></li>
                    <li><a href="/index.php?s=/home/index/consult.html">技术咨询</a></li>
                </ul>-->
              </li>
              <li class="project"><a href="javascript:;">项目<span></span></a>
                <ul class="project_bar" style="display: none;">
                  <li><a href="{:U ( '/home/index/route/url/hasinvest' )}">通用无人直升机平台</a></li>
                </ul>
              </li>
              <li><a href="{:U ( '/home/index/route/url/contact' )}">联系我们</a></li>
              <li><a href="{:U ( '/home/index/route/url/joinus' )}">加入我们</a></li>
            </ul>
          </nav>
          <!-- footer
              ================================================== -->
          <footer>
            <div class="f-container">

              <img src="__PUBLIC__/raven/images/qrcode.jpg" style="display:inline-block;width:100px;height:100px;">
              <p class="copyright">
                瑞文航空© 版权所有 2015 <br><small>All rights reserved</small>
                <br><a href="http://www.miit.gov.cn/">粤ICP备15102317号</a>
              </p>
            </div>
          </footer>
          <!-- End footer -->
		</header>
		<!-- End Header -->

		<!-- content
			================================================== -->
		<div id="content" style="width:85%;height:100%;position:absolute;">

          <p style="position:fixed;right:10px;bottom:10px;color:#ED7D31;z-index:999;"><span style="display:block;float:right;">瑞文航空©</span><span style="display:block;clear:both;">Inspired by Raven Industries</span></p>

          <div id="sliderWrap" style="position:relative;">
            <div class="info_title">
              <!--<p>共创空间  ** 工具  **  原型打样 ** 技术咨询 ** 投资</p>-->
              <!--<p style="color:#ED7D31;font-weight:bold;">©  瑞文航空</p>-->
            </div>
            <p><img style="display:inline-block;width:100%;height:100%;" src="__PUBLIC__/raven/images/background/3.jpg"></p>

            <div id="downSelect" class="select_arrow"><img src="__PUBLIC__/raven/images/down.png"></div>

            <div class="login_bar">
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="login_name" placeholder="用户名" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="login_pwd" placeholder="密码" type="password">
              </div>
              <div class="col-md-12">
                <a class="btn btn-warning login">登陆</a>
                <a class="btn btn-warning register1">注册</a>
                <a href="javascript:;" class="find_pwd">找回密码</a>
              </div>
            </div>

            <div class="register_bar" style="display:none;">
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_name" placeholder="用户名" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_nick" placeholder="昵称" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_mobile" placeholder="手机号" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_email" placeholder="邮箱" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_pwd_1" placeholder="密码" type="password">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="register_pwd_2" placeholder="请再次输入密码" type="password">
              </div>
              <div class="col-md-12">
                <a class="btn btn-warning register">注册</a>
                <a class="btn btn-warning login1">登陆</a>
                <a href="javascript:;" class="find_pwd">找回密码</a>
              </div>
            </div>

            <div class="find_pwd_bar" style="display:none;">
              <div class="col-md-12" style="margin-bottom:5px;">
                <input class="form-control" value="" id="find_pwd_email" placeholder="邮箱" type="text">
              </div>
              <div class="col-md-12" style="margin-bottom:5px;">
                <button type="button" class="btn btn-primary send_email_btn">找回密码</button>
                <button type="button" class="btn btn-warning login1">返回登陆</button>
              </div>
              <!--<div class="col-md-12">
                  <a class="btn btn-warning register">注册</a>
                  <a class="btn btn-warning login1">登陆</a>
                  <a href="javascript:;" class="find_pwd">找回密码</a>
              </div>-->
            </div>

          </div>

          <div id="sliderWrap1" style="display:none;padding-top:10px;width:100%;height:100%;">

            <div id="upSelect1" class="select_arrow"><img src="__PUBLIC__/raven/images/up.png"></div>

            <div class="worksmain">
              <div class="section group">
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo">  <a href="__PUBLIC__/raven/images/background/sd1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd1.jpg" alt="">
                </div>
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo">  <a href="__PUBLIC__/raven/images/background/sd2.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd2.jpg" alt="">
                </div>
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo">  <a href="__PUBLIC__/raven/images/background/sd3.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd3.jpg" alt="">
                </div>
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo"> <a href="__PUBLIC__/raven/images/background/sd8.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd8.jpg" alt="">
                </div>
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo">  <a href="__PUBLIC__/raven/images/background/sd5.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd5.jpg" alt="">
                </div>
                <div class="gallery-box">
                  <div id="nivo-lightbox-demo">  <a href="__PUBLIC__/raven/images/background/sd9.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">  <span class="rollover1"> </span></a> </div>
                  <img src="__PUBLIC__/raven/images/background/sd9.jpg" alt="">
                </div>
                <div class="clearfix"></div>
              </div>
              <p style="text-align:center;line-height:30px;">深圳市瑞文航空科技有限公司汇聚了人工智能、自动化控制、飞行器设计工程、机械设计、电子电气、信息安全等领域的专业人才和领军人物，进行模块化旋翼类无人机整机全系统的研制和销售工作，在关键技术环节拥有自主知识产权。</p>
              <p style="text-align:center;line-height:30px;">同时，作为中国国防金融研究会创始会员单位，公司将按照军民融合的发展思路，通过低成本高技战术指标的比较优势参与到专有市场的竞争当中，作为高端无人机产品“民参军”的样板工程。</p>
            </div>


            <div id="downSelect1" class="select_arrow"><img src="__PUBLIC__/raven/images/down.png"></div>
          </div>

          <div id="sliderWrap2" style="display:none;">
            <div id="upSelect2" class="select_arrow"><img src="__PUBLIC__/raven/images/up.png"></div>


            <!--start-work-->
            <div class="work">
              <div class="container">

                <div class="work-btm">
                  <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider5">
                      <li>
                        <div class="work-bottom">
                          <div class="col-md-6 work-left">
                            <img style="display:inline-block;" src="__PUBLIC__/raven/images/background/sd-10.jpg" alt="">
                          </div>
                          <div class="col-md-6 work-right">
                            <!--<h3 style="font-weight:bold;margin-top:0;">瑞文航空希望与航空爱好者一起探讨工作，解决难题，学有所用，事有所成。我们可以提供舒适便利的工作条件，以及各种全职、兼职、咨询方式的工作机会，具体请与我们联络。</h3>-->
                            <!--<p style="font-weight:bold;">瑞文航空希望与航空爱好者一起探讨工作，解决难题，学有所用，事有所成。我们可以提供舒适便利的工作条件，以及各种全职、兼职、咨询方式的工作机会，具体请与我们联络。</p>-->            <p>瑞文航空希望与航空爱好者一起探讨工作，解决难题，学有所用，事有所成。我们可以提供舒适便利的工作条件，以及各种全职、兼职、咨询方式的工作机会，具体请与我们联络。</p>
                            <p><i>享受安静、舒适的工作环境，一切为了更好地工作！</i></p>
                            <p><span style="color:red;">160*90*75cm</span> 独立外围超大木质工作台</p>
                            <p>Wi-Fi</p>
                            <p>秘书接待服务+外墙铭牌</p>
                            <p>会议室</p>
                            <p>会客休闲区</p>
                            <p>打印， 书籍，咖啡</p>
                            <!--<p>开放时间：<span style="color:red;">06:00 to 23:00 周一至周日</span></p>-->
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pop-up">
                          <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span> </span><img src="__PUBLIC__/raven/images/pop-up.png" alt=""></a>
                        </div>
                      </li>


                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--End-work-->

            <!---pop-up-box---->
            <script type="text/javascript" src="__PUBLIC__/raven/js/modernizr.custom.min.js"></script>
            <link href="__PUBLIC__/raven/css/popup-box.css" rel="stylesheet" type="text/css" media="all">
            <script src="__PUBLIC__/raven/js/jquery.magnific-popup.js" type="text/javascript"></script>
            <!---//pop-up-box---->
            <div id="small-dialog" class="mfp-hide">
              <div class="login">
                <img style="display:inline-block;width:600px;height:397px;" src="__PUBLIC__/raven/images/background/sd-10.jpg" alt="">
              </div>
            </div>
            <div id="small-dialog1" class="mfp-hide">
              <div class="login">
                <img style="display:inline-block;width:600px;height:397px;" src="__PUBLIC__/raven/images/background/sd-11.png" alt="">
              </div>
            </div>
            <div id="small-dialog2" class="mfp-hide">
              <div class="login">
                <img style="display:inline-block;width:600px;height:397px;" src="__PUBLIC__/raven/images/background/sd-12.png" alt="">
              </div>
            </div>

            <!--start-footer-->
            <!-- requried-jsfiles-for owl -->

            <script src="__PUBLIC__/raven/js/owl.carousel.js"></script>
            <script>
              $(document).ready(function() {
                $("#owl-demo").owlCarousel({
                  items : 5,
                  lazyLoad : true,
                  autoPlay : true,
                  pagination : false,
                });
              });
            </script>
            <!-- //requried-jsfiles-for owl -->

            <div id="downSelect2" class="select_arrow"><img src="__PUBLIC__/raven/images/down.png"></div>
          </div>

          <div id="sliderWrap3" style="display:none;">
            <div id="upSelect3" class="select_arrow"><img src="__PUBLIC__/raven/images/up.png"></div>


            <!--start-work-->
            <div class="work">
              <div class="container">

                <div class="work-btm">
                  <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider5">

                      <li>
                        <div class="work-bottom">
                          <div class="col-md-6 work-left">
                            <img style="display:inline-block;width:450px;height:300px;" src="__PUBLIC__/raven/images/background/sd-11.png" alt="">
                          </div>
                          <div class="col-md-6 work-right">
                            <!--<h3 style="font-weight:bold;margin-top:0;">开始开发！@深圳</h3>-->
                            <p style="font-weight:bold;">我们可以提供如下开发工具：</p>
                            <p>DC Motor Driver</p>
                            <p>Arduino Breakout Kit</p>
                            <p>Laser Scanner</p>
                            <p>Sensor Set</p>

                            <p>Open Source Electronics Prototyping Platform</p>
                            <p>Beginner Kit for Arduino</p>
                            <p>Intermediate Kit for Arduino</p>
                            <p>Programing Kits for Arduino</p>
                            <p>Start Kit for Edison</p>
                            <p>General Mobile Robot Controller</p>
                            <p>etc.</p>
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pop-up" style="bottom:93px;">
                          <a class="play-icon popup-with-zoom-anim" href="#small-dialog1"><span> </span><img src="__PUBLIC__/raven/images/pop-up.png" alt=""></a>
                        </div>
                      </li>

                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--End-work-->

            <div id="downSelect3" class="select_arrow"><img src="__PUBLIC__/raven/images/down.png"></div>
          </div>

          <div id="sliderWrap4" style="display:none;">
            <div id="upSelect4" class="select_arrow"><img src="__PUBLIC__/raven/images/up.png"></div>

            <!--start-work-->
            <div class="work">
              <div class="container">

                <div class="work-btm">
                  <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider5">

                      <li>
                        <div class="work-bottom">
                          <div class="col-md-6 work-left">
                            <img style="display:inline-block;width:450px;height:300px;" src="__PUBLIC__/raven/images/background/sd-12.png" alt="">
                          </div>
                          <div class="col-md-6 work-right">
                            <!--<h3 style="font-weight:bold;">开始制作！@深圳</h3>-->
                            <p style="font-weight:bold;">我们还可以提供基本的加工工具：</p>
                            <p>焊台</p>
                            <p>切割、打磨工具</p>
                            <p>CNC</p>
                            <p>信号发生器等仪器仪表</p>
                            <!--<p style="font-weight:bold;margin-top:102px;">我们非常乐意了解您的更多需求，帮助我们完善工具清单。</p>-->
                          </div>
                          <div class="clearfix"></div>
                        </div>
                        <div class="pop-up">
                          <a class="play-icon popup-with-zoom-anim" href="#small-dialog2"><span> </span><img src="__PUBLIC__/raven/images/pop-up.png" alt=""></a>
                        </div>
                      </li>

                    </ul>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!--End-work-->
            <!--<div id="downSelect4" class="select_arrow"><img src="__PUBLIC__/raven/images/down.png"></div>-->
          </div>

          <!--<div id="sliderWrap5" style="display:none;">
            <div id="upSelect5" class="select_arrow"><img src="__PUBLIC__/raven/images/up.png"></div>

            &lt;!&ndash;start-work&ndash;&gt;
            <div class="work">
              <div class="container">

                <div class="work-btm">
                  <div id="top" class="callbacks_container" style="width:900px;margin:50px auto;">
                    <h4>关于我们</h4>
                    <p>“工业4.0”是时下最热的话题之一。这并不是一个口号，而是一个迫切需要我们接受的逻辑。</p>

                    <p>回答什么是“工业4.0”，要从为什么会有“工业4.0”开始：
                      应消费文化的改变，个性化客制需求越发旺盛，而不同于以往的是，消费者需要物美价廉的客制。同时伴随的还有耐心有限，要求快速送达。</p>

                    <p>再加上互联网、智能手机的推动，人们随时随地都在比较，分享，改变。一个产品的生命周期越来越短，意味着交货周期越来越短，而工厂运营的复杂程度则是越来越高，结果就是效率下降。加之产能过剩，人口结构调整导致需求下降，未来对于中国企业和工厂的压力可以预见。</p>

                    <p>工厂的基础是标准作业、大量生产，如何通过智慧互联将消费者和工厂连接起来，协同作业，双向输出，达到随需而至、随需而制，将SOP量化型工厂转变为以消费者为中心的客制工厂，是摆在我们面前每一位真正想做点什么的企业家都需要深入探讨的话题。</p>

                    <p>深圳，一半山水一半城。刚刚度过35岁的生日，就已成为开放、创新的模版和窗口，更是全世界智能硬件的重要基地。在这活力和繁荣背后，我们必须要看到明星电子企业破产、裁员的严峻形势，更要看到国际化之后的中国资本、外国技术、知识产权和创新机制共同作用下，中小企业和初创企业的突破口究竟在哪里。</p>

                    <p>大浪淘沙的变革中，最大受益者将是灵活应变、致力创新的中小企业。而我们，从现在开始准备。</p>

                    <p>未来比想象中更近。</p>

                    <p>（感谢王喜文博士和Frank对我们的指导和启发。）</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            &lt;!&ndash;End-work&ndash;&gt;

          </div>-->


		</div>
		<!-- End Content -->

	</div>
	<!-- End Container -->

	<!-- Switch Theme  -->
	<div id="theme-switcher">
		<div id="toggle-wrap">
			<a id="skin-1" href="../default/"></a>
			<a id="skin-2" href="../green/"></a>
			<a id="skin-3" href="../orange/"></a>
			<a id="skin-4" href="../red/"></a>
			<a id="skin-5" href="../yellow/"></a>
		</div>
	</div>

	<!-- Revolution slider -->
    <script type="text/javascript">


      $(".sever_bar,.project_bar,.appoint_bar").hide();

      $(window).load(function(){
        $('#loading').hide();

        $("#downSelect").click(function(){
          $('#sliderWrap').slideUp();
          $('#sliderWrap1').show();
        });


        $("#downSelect1").click(function(){
          $('#sliderWrap1').slideUp();
          $('#sliderWrap2').show();
        });

        $("#downSelect2").click(function(){
          $('#sliderWrap2').slideUp();
          $('#sliderWrap3').show();
        });

        $("#downSelect3").click(function(){
          $('#sliderWrap3').slideUp();
          $('#sliderWrap4').show();
        });

        $("#downSelect4").click(function(){
          $('#sliderWrap4').slideUp();
          $('#sliderWrap5').show();
        });

        $("#upSelect1").click(function(){
          $('#sliderWrap').slideDown();
          $('#sliderWrap1').hide();
        });

        $("#upSelect2").click(function(){
          $('#sliderWrap1').slideDown();
          $('#sliderWrap2').hide();
        });

        $("#upSelect3").click(function(){
          $('#sliderWrap2').slideDown();
          $('#sliderWrap3').hide();
        });

        $("#upSelect4").click(function(){
          $('#sliderWrap3').slideDown();
          $('#sliderWrap4').hide();
        });

        $("#upSelect5").click(function(){
          $('#sliderWrap4').slideDown();
          $('#sliderWrap5').hide();
        });

        $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });

        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: 'auto',
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        //显示登陆，注册，找回密码
        $('.login1').click(function(){
          $('.register_bar').hide();
          $('.login_bar').show();
          $('.find_pwd_bar').hide();
        });
        $('.register1').click(function(){
          $('.register_bar').show();
          $('.login_bar').hide();
          $('.find_pwd_bar').hide();
        });
        $('.find_pwd').click(function(){
          $('.register_bar').hide();
          $('.login_bar').hide();
          $('.find_pwd_bar').show();
        });

        $('#find_pwd_email').blur(function(){
          var reg =  /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if(!reg.test(this.value)){
            alert('请输入正确格式邮箱');
            $('#find_pwd_email').val('');
            return;
          }
        });

        $('.send_email_btn').click(function(){
          var email = $('#find_pwd_email').val();
          var link = window.location.protocol+"//"+window.location.host+window.location.pathname
            +"?s=/home/lapi/sendpassword/email/"+email;
          if($.trim(email)){
            $.post(link,function(ret){
              console.log(ret);
              if(ret=='1'){
                alert('邮件发送成功，请注意查收。');
              }else if(ret=='2'){
                alert('此邮箱未注册。');
              }
            });
          }

        });


        //登陆
        $('.login').click(function(){
          var name = $('#login_name').val();
          var pass = $('#login_pwd').val();
          var data = {username:name,password:pass};
          var link ="{:U('ucenter/member/login')}";// window.location.protocol+'//'+window.location.host+window.location.pathname+'?s=/home/lapi/login/';
          if(name&&pass){
            $.post(link,data,function(ret){
              //ret = $.parseJSON(ret);
              console.log(ret);
              if(ret.status==1){
                alert("登录成功！");
                setTimeout(function(){
                  window.location.reload();
                },500);
              }else{
                alert(ret.info);
              }
            });
          }else{
            alert('请填写完整用户名和密码');
          }

        });

        //注册
        $('#register_name').blur(function(){
          var name = $(this).val();
          var reg = /[\u4E00-\u9FA5\uF900-\uFA2D]/;
          var link = window.location.protocol+'//'+window.location.host+window.location.pathname+'?s=/home/lapi/checkname/';
          if($(this).val().length<=5){
            $('#register_name').val('');
            $('#register_name').attr('placeholder','用户名不少于6位');
          }else if(reg.test(this.value)){
            $('#register_name').val('');
            $('#register_name').attr('placeholder','用户名不能含有中文');
          }else{
            if($(this).val()){
              $.post(link,{name:name},function(ret){
                //ret = $.parseJSON(ret);
                console.log(ret);
                if(ret=='true'){
                  $('#register_name').val('');
                  $('#register_name').attr('placeholder','该用户名已被注册');
                }
              });
            }
          }

        });

        $('#register_nick').blur(function(){
          var nick = $(this).val();
          var link = window.location.protocol+'//'+window.location.host+window.location.pathname+'?s=/home/lapi/checknick/';
          if($(this).val().length<=5){
            $('#register_nick').val('');
            $('#register_nick').attr('placeholder','昵称不少于6位');
          }else{
            if($(this).val()){
              $.post(link,{nick:nick},function(ret){
                //ret = $.parseJSON(ret);
                console.log(ret);
                if(ret=='true'){
                  $('#register_nick').val('');
                  $('#register_nick').attr('placeholder','该昵称已被注册');
                }
              });
            }
          }

        });

        $('#register_mobile').blur(function(){
          var reg = /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/;
          var mobile = $(this).val();
          var link = window.location.protocol+'//'+window.location.host+window.location.pathname+'?s=/home/lapi/checkmobile/';
          if($(this).val()==""){
            $(this).attr('placeholder','手机号不能为空');
          }else if(!reg.test(this.value)){
            $(this).val("");
            $(this).attr('placeholder','手机号格式不正确');
          }else{
            $.post(link,{mobile:mobile},function(ret){
              //ret = $.parseJSON(ret);
              console.log(ret);
              if(ret=='true'){
                $('#register_mobile').val('');
                $('#register_mobile').attr('placeholder','该手机号已被注册');
              }
            });
          }
        });

        $('#register_email').blur(function(){
          var reg =  /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
          if(!reg.test(this.value)){
            $(this).attr('placeholder','请输入正确格式邮箱');
            return;
          }

        });

        $('#register_pwd_1').blur(function(){
          var reg = /^[0-9a-zA-Z_]{6,15}$/
          if(!reg.test(this.value)){
            $(this).val("");
            $(this).attr('placeholder','密码格式错误，长度为6-15位');
          }
        });

        $('#register_pwd_2').blur(function(){
          var pwd_1 = $('#register_pwd_1').val();
          if($(this).val()!=pwd_1){
            $(this).val("");
            $(this).attr('placeholder','两次密码输入不一致');
          }
        });

        $('.register').click(function(){
          var name = $('#register_name').val();
          var nick = $('#register_nick').val();
          var mobile = $('#register_mobile').val();
          var email = $('#register_email').val();
          var pass = $('#register_pwd_2').val();
          var data = {
            username:name,
            nickname:nick,
            mobile:mobile,
            email:email,
            password:pass
          };
          var link = "{:U('ucenter/member/register')}";//window.location.protocol+'//'+window.location.host+window.location.pathname+'/home/lapi/register/';
          console.log(link);
          console.log(data);
          if(name && nick && mobile && email && pass){
            $.post(link,data,function(ret){

              //ret = $.parseJSON(ret);
              if(ret.status==1){
                alert('注册成功');
                setTimeout(function(){
                  window.location.reload();
                },500);
              }else{
                alert('注册失败。'+ret.info);
              }
            });
          }else{
            alert("请填写完整内容");
            return;
          }

        });

        //登出
        $('#login_out').click(function(){
          var link = window.location.protocol+'//'+window.location.host+window.location.pathname+'?s=/home/lapi/out/';
          $.post(link,function(ret){
            //ret = $.parseJSON(ret);
            console.log(ret);
            if(ret=='true'){
              setTimeout(function(){
                window.location.reload();
              },500);
            }
          });
        });

      })




    </script>

	<!-- DEMO JS THEME SWITCHER-->
	<script src="__PUBLIC__/raven/js/demo.js"></script>
    <script src="__PUBLIC__/js/core.js"></script>
    <script type="text/javascript" src="__PUBLIC__/raven/js/EasePack.js"></script>
    <script type="text/javascript" src="__PUBLIC__/raven/js/TweenLite.js"></script>
</body>
</html>